<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="Practies.AppiumFramework.Listeners"/>
  <listener class-name="Practies.AppiumFramework.ExtentReporterNG"/>
  </listeners>
  <test name="Test">
    <classes>
    <!--   <class name="Practies.AppiumFramework.AppTest"/> --> 
      <class name="Practies.AppiumFramework.AmountCal"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
